.dz {
    border: 3px solid orange;
}
.gmail__check {
    margin: 15px 40%;
}
#bigBlock {
    position: relative;
    margin: 15px auto;
    background-color: red;
    width: 500px;
    height: 500px;
}
#minBlock {
    position: absolute;
    background-color: blue;
    width: 50px;
    height: 50px;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
